* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html{
  font-size: 62.5%; 10px for converting rem
} */

body {
  font-family: "Poppins", sans-serif;

}

.header {
  height: 100vh;
  background-image:linear-gradient(rgba(3,4,7,0.48), rgba(5,10,30,0.48)), url('https://scontent.fceb1-3.fna.fbcdn.net/v/t39.30808-6/266578848_1310066749509108_8403320271041998776_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=0debeb&_nc_ohc=YGjc34yghnYAX-fvKRs&_nc_ht=scontent.fceb1-3.fna&oh=00_AfCJe26V3WZHqFd5Lb6njn0OzR8EKBfCofY_EtxK2KXhlA&oe=63FC76BD');
  background-size: cover;
  background-position: center;
}

.header__image{
  display: none;
}

.header-brand{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 45px;
}
.header-brand__span{
  color: #20e700;
}

nav{
 /* background-color: orangered; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 7%;
}

nav ul li{
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.header-text{
  /* background-color: orangered; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.header-text h1{
  font-size: 60px;
  margin-top: 10px;
}

.header-text--2{
  display: none;
}

/* About me section */

.about{
  background-color: grey;
  height: 80vh;
}

.about-text{
  /* background-color: orangered; */
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
}

.about-img{
  display: none;
}

.about-text h2{
  font-size: 60px;
  /* background-color: green; */
  padding-top: 6rem;
}

.about-text p{
  /* background-color: blue; */
  padding-top: 2rem;
  line-height: 1.8rem;
  text-align: center;
}

.about-skills{
  display: flex;
  /* background-color: orangered; */
  width: 50%;
  color: white;
  flex-direction: row;
  margin: auto;
  padding-top: 3%;
  justify-content: center;
  align-items: center;

}

.about-skills h3{
  padding-right: 5%;
}

.about-skills__h3--1{
  border-bottom: 3px solid green;
  width: 8%;
  margin-right: 50px;
}

/* My Portfolio section */

.portfolio{
  height: 100vh;
  padding: 50px 0;
  text-align: center;
  color: #362d2d;
  font-size: 60px;
}

.portfolio__container{
  display: flex;
  grid-template-columns: repeat(autofit, minmax(230px, 1fr));
  grid-gap: 40px;
  padding: 5%;
  margin: auto;   
}

.portfolio h2{
  margin-top: 1%;
  font-size: 60px;
}

.portfolio__img{
  border-radius: 10px;
  position: relative;
}

.portfolio__img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.portfolio__btn{
  background-color: #45893a;
  color: #fff;
  height: 84;
  width: 287px;
  border-radius: 10px;
  text-decoration: none;
  padding: .5% 1%;
}

/* Contact section */
.contact{
  background-color: #312d2d;
  height: 100vh;
  margin-top: 300px;
  padding: 5%;
  color: white;
}

.contact__row{
  display: flex;
  font-display: row;
}

.contact h2{
  font-size: 60px;
}

.contact-left{
  flex-basis: 35%;
}

.contact-left p{
  margin-top: 30px;
}

.contact-left p{
  color: #20e700;
  margin: 15px;
font-size: 25px;
}

.contact-left__icons{
  margin-top: 15px;
}

.contact-left__icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #d9d9d9;
  display: inline-block;
}

.contact-left__icons a:hover{
  color: #45893a;
  transform: translateY(-5px);
}

.contact__btn{
  display: block;
  margin: 50px auto;
  border: 1px solid #2ecc71;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  width: fit-content;
}

.contact__btn:hover{
  background-color: #2ecc71;
}

.contact__btn.contact__btn--1{
  display: inline-block;
}

.contact-right{
  flex-basis: 60%;
}

.contact-right form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #141414;
  padding: 15px;
  margin: 15px 0;
  font-size: 18px;
  border: 6px;

}

.contact__btn.contact__btn--2{
  display: inline-block;
  background-color: #312d2d;
  font-size: 18px;
}

.contact__btn--2:hover{
  background: #2ecc71;
  cursor: pointer;
}

footer{
  height: 15vh;
  width: 100%;
  text-align: center;
  padding: 3% 0;
  background-color: #d9d9d9;
  font-weight: 300;
}

/* Footer Section */

/*------------ Media Queries -----------*/

/*------------ Hero Section -----------*/
@media only screen and (max-width: 600px){
  .header{
    background-image: none; 
    background-color: #242423;
  }

  .header__image{
    display: block;
  }

  .header__image img{
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .header-text{
    display: none;
  }

  .header-text--2{
    display: block;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  .header-text--2 h2{
    font-size: 20px;
    font-weight: 200;
    line-height: 1.8;
  }

  .header-text--2 span{
    color: #20e700;
  }

}
/*------------ About Section -----------*/
/* Breakpoint mobile 600px */
 @media only screen and (max-width: 600px){
  .about{
    padding-top: 10%;
    height: 150vh;
  }

  .about-img{
    display: block;
    text-align: center;
    padding: 0 3% 5% 0;
  }
  /* .about{
    background-color: grey;
    height: 80vh;
  }
  
  .about-text{
    color: white;
    margin: auto;
    text-align: center;
    width: 50%;
  }
  
  .about-text h2{
    font-size: 60px;
    padding-top: 6rem;
  }
  
  .about-text p{
    padding-top: 2rem;
    line-height: 1.8rem;
    text-align: center;
  }
  
  .about-skills{
    display: flex;
    width: 50%;
    color: white;
    flex-direction: row;
    margin: auto;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
  
  }
  
  .about-skills h3{
    padding-right: 5%;
  }
  
  .about-skills__h3--1{
    border-bottom: 3px solid green;
    width: 8%;
    margin-right: 50px;
  } */
} 
/*------------ Portfolio Section -----------*/
/* @media only screen and (max-width: 600px){
  
} */
/*------------ Contact Section -----------*/
/* @media only screen and (max-width: 600px){
  
} */

/*------------ Footer Section -----------*/